/*фон общей страницы*/
body {
    margin: 0;
    padding: 0;
    background-color: #010728;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Brush Script MT, Brush Script Std, cursive; 
    font-style:italic;
    font-weight: bold;
    font-size: 20px;
    color: #d4af37;
    text-align: center;
}
/*сама открытка*/
.page{
    padding: 20px;
}
.card {
    background-color: #051DA4;
    width: 300px;
    height: 500px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-color: black;
    border-style: solid;
    padding: 5px;
}
/*рамка картинки*/
.picture-wrapper {
    border: 2px solid black;
    background-clip: padding-box;
    padding: 0;
}
/*картинка*/
.picture {
    width:250px;
    height: 400px;
    background-image: url("Klimt1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
/*текст*/
.text-box {
    background-color: #051DA4;
    padding: 10px;
    border-radius: 10px;
    font-size: 18px;
    text-align: center;
}
/*кнопка*/
.change-btn {
    padding: 10px 20px;
    font-size: 16px;
    background: none;
    color: #d4af37;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-family: Brush Script MT, Brush Script Std, cursive; 
    font-style:italic;
    font-weight: bold;
    font-size: 20px;
    color: #d4af37;
    text-align: center;
    text-decoration: underline;
    text-decoration-thickness: 2px;
}